.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar {
  position: absolute;
  height: 100px;
  z-index: 999;
  background-color: transparent;
  width: 100%;
}
.navbar2 {
  position: fixed;
  height: 50px;
  z-index: 999;
  background-color: rgb(100, 52, 128);
  width: 100%;
}

.inner {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}
.navbar2 .inner {
  padding: 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@media only screen and (max-width: 600px) {
  .navbar,
  .navbar2 {
    text-align: center;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
